@import "~bootstrap/scss/functions";
@import "~react-image-gallery/styles/scss/image-gallery.scss";



$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * 1,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5,
  7: $spacer * 8,
  8: $spacer * 10,
  9: $spacer * 12,
  10: $spacer * 16,

);
// @import "~bootstrap/scss/_utilities.scss";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";
@import "./breakpoints.scss";


$font-size: 40px;


.navbar-icon{
    font-size: $font-size;
}
.navbar-right-col{
    display: flex;
    padding-right: 3%;
    column-gap: 1.3%;
}

.navbar-nav{
    margin-left: 1%;
    font-size: $font-size/2;
    display: flex;
    align-items: center;
}

.navbar-oscar{
    background-color: #fff;
    display: flex;
    align-items: center;
    color: #fff;
    :active{
        color: #fff;
    }
}

.main-bio{
    font-size: $font-size/2;
}

.card{
    perspective: 1000px;
    border: none;
    outline: none;
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-back, 
.card-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back{
    transform: rotateY(180deg);
}

.card:hover .card-inner{
    transform: rotateY(180deg);
}
.card, .card-inner, .card-front, .card-back {
    width: 100%;
    height: 50vh;

    @include lg-breakpoint{
        width: 100%;
        height: 60vh;
    }
    @include xl-breakpoint{
        width: 100%;
        height: 76vh;
    }
  }

  @media all and (min-width: 992px) {
	.navbar .nav-link .dropdown-menu{ display: none; }
	.navbar .nav-link:hover .dropdown-menu{ display: block; }
	.navbar .nav-link .dropdown-menu{ margin-top:0; }
}	
@media print{
    .page-break {
        page-break-after: always;
    }

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}